table{
    text-align: left;
    color: black;
    border-collapse: collapse;
}
table td,table th{
    border: 1px solid seagreen;
    padding: 10px;
    min-height: 160px;
}
img{
    width: 100px;
    height: 100px;
}
.seller-update-link{
    margin-left: 10px;
}